<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center" style="margin-left:-60px;">About Us</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <img src="{{firebaseUrl}}banner-1.jpg?alt=media" alt="Image"/>

    <p>
      <b>Mont Drive</b> is the subsidiary brand name under <b>J.D. Engineering 
      Works</b>. It manufactures Gearless Elevator Traction Machine or 
      Gearless Elevator Motor. <b>Mr. Gurdavinder Singh, Founder & CEO 
      of J.D. Engineering Works</b> is enthusiastic to get the technical 
      advancement to India. He has a combined experience in engineering 
      passed from IITs and he is able to reform motor designing. He has 
      forty years of experience in this field. Constant improvement in 
      the various energy efficiency is his main focus.
    </p>
    
    <p>A subsidiary of J.D. Engineering Works, Mont Drive has become a 
    leading name in the field of Gearless Elevator Machines, or as also 
    called Gearless Elevator Traction Machines.</p>
<p>Incorporating technical excellence and an international-level design and 
manufacturing process, the company has grown into stature as a 
quality and affordable solution provider in this field. The company
 has a wide spectrum of product line that includes 6 passenger, 
 8 passenger, 10 passenger and 13 passenger Gearless Elevator Traction
  Machines. The products are designed and crafted with meticulous 
  planning, and are passed through with strict quality control and 
  testing procedures, making these ideally safe and durable for a wide 
  range of premise applications. We serve the clients globally, 
  exporting our entire product range worldwide.</p>

  <h3>Key Features of Mont Drive Product Range</h3>
  <p>Incorporating continuous development with innovative and strategic inputs is the
     core of the process at Mont Drive. With a skilled team of experienced technicians, R & D 
     professionals, and a state-of-the-art manufacturing facility, the 
     company provides advanced range of Gearless Elevator Traction 
     Machines that are energy efficient, extremely safe, portable, 
    eco-friendly, space-saving and operates with a noise-free procedure.</p>
  </ion-content>
</div>