<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center" style="margin-left:-60px;">Our Products</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card (click)="goToDetails(6)">
      <img alt="6 PASSENGER GEARLESS ELEVATOR MACHINE" src="assets/images/6.jpg?alt=media" />
      <ion-card-header>
        <ion-card-title>JDE 24P 06 Series</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        6 PASSENGER GEARLESS ELEVATOR MACHINE
      </ion-card-content>
    </ion-card>
    <ion-card (click)="goToDetails(8)">
      <img alt="8 PASSENGER GEARLESS ELEVATOR MACHINE" src="assets/images/8.jpg?alt=media" />
      <ion-card-header>
        <ion-card-title>JDE 24P 08 Series</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        8 PASSENGER GEARLESS ELEVATOR MACHINE
      </ion-card-content>
    </ion-card>
    <ion-card (click)="goToDetails(10)">
      <img alt="10 PASSENGER GEARLESS ELEVATOR MACHINE" src="assets/images/10.jpg?alt=media" />
      <ion-card-header>
        <ion-card-title>JDE 24P 10 Series</ion-card-title>
        
      </ion-card-header>
    
      <ion-card-content>
        10 PASSENGER GEARLESS ELEVATOR MACHINE
      </ion-card-content>
    </ion-card>

    <ion-card (click)="goToDetails(13)">
      <img alt="13 PASSENGER GEARLESS ELEVATOR MACHINE" src="assets/images/13.jpg?alt=media" />
      <ion-card-header>
        <ion-card-title>JDE 24P 13 Series</ion-card-title>
        
      </ion-card-header>
    
      <ion-card-content>
        13 PASSENGER GEARLESS ELEVATOR MACHINE
      </ion-card-content>
    </ion-card>
   
  </ion-content>
</div>