
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center" style="margin-left:-60px;">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <img src="assets/images/banner-1.jpg?alt=media" alt="Logo" height="auto" width="auto"/>

    <div class="mt-10">
      <p>
        <b>Mont Drive</b> is the subsidiary brand name under <b>J.D. Engineering Works</b>. It manufactures Gearless Elevator 
        Traction Machine or Gearless Elevator Motor. <b>Mr. Gurdavinder Singh, Founder & CEO of J.D. Engineering Works</b> is enthusiastic 
        to get the technical advancement to India. He has a combined experience in engineering passed from IITs and he is able to reform 
        motor designing. He has forty years of experience in this field. 
        Constant improvement in the various energy efficiency is his main focus.
      </p>
    </div>

    <div class="border">
      <h3>Our Products</h3>
      <ion-row>
        <ion-col><img src="assets/images/6.png?alt=media" (click)="goToDetails(6)" alt="6"></ion-col>
        <ion-col><img src="assets/images/8.png?alt=media" (click)="goToDetails(8)"alt="8"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><img src="assets/images/10.png?alt=media" (click)="goToDetails(10)"alt="6"></ion-col>
        <ion-col><img src="assets/images/13.png?alt=media" (click)="goToDetails(13)"alt="8"></ion-col>
      </ion-row>
      
    </div>
  </ion-content>
</div>